@import url("/style/nav.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: contain;
}

:root {
  --white-color: #ffff;
  --light-border: #aaa;
  --black: #111;
  --green: #26bd65;
  --dank-green: #377953;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 1.875rem;
}

@media screen and (max-width: 47.5rem) {
  .container {
    padding: 1.25rem;
  }
}

.counter {
  padding: 0.625rem;
}

.counter > input {
  width: 2.5rem;
}

.counter > button {
  padding: 0.15rem;
  justify-content: center;
  border: 2px solid var(--white-color);
  cursor: pointer;
  border-radius: 0.625rem;
}

.summary {
  background-color: var(--white-color);
  border: 1px solid var(--light-border);
  padding: 1rem;
  position: fixed;
  width: 300px;
}

.summary-total-items {
  color: var(--light-border);
  font-size: 1.5rem;
  text-align: center;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value {
  color: var(--black);
  float: left;
  width: 50%;
  padding: 5px;
}

.summary-container {
  display: flex;
  justify-content: center;
  padding-top: 1.2rem;
}

.checkout-cta {
  padding: 10px;
  display: flex;
  justify-content: center;
  color: var(--white-color);
  background: var(--green);
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.checkout-cta:hover {
  background-color: var(--dank-green);
}

.btn.btn-success:hover {
  background-color: var(--dank-green);
}

.btn.btn-secondary{
  color: var(--black);
  border: 1px solid var(--green);
}

.btn.btn-secondary:hover{
  color: var(--white-color);
  background-color: var(--green);
}