.main-product {
  /* width: 100%; */
  display: flex;
}

.filter-wrapper {
  flex-direction: column;
  width: 270px;
  height: 100%;
  border-right: 1px solid red;
  padding: 1rem 2rem;
  gap: 2rem;
  /* position: fixed; */
  left: 0;
  overflow-y: auto;
  flex-shrink: 0;
  /* background-color: red; */
}

.range-gap,
.filter-gap,
.rating-gap,
.sort_gap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.featured__container {
  row-gap: 2rem;
  /* background-color: pink; */
}

.featured__product {
  transition: 0.3s;
  justify-self: center;
}

.featured-section {
  /* width: 100%; */
  /* display: block; */
}

.product-wrapper {
  width: 100%;
}

.bd-grid {
  max-width: 64rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

@media screen and (max-width: 64rem) {
  .filter-wrapper {
    display: none;
  }
}
